*{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.box1 {
    width: 500px;
    height: 500px;
    background-color: black;
}
.box2 {
    width: 480px;
    height: 480px;
    background-color: white;
}
.box3 {
    width: 460px;
    height: 460px;
    background-color: black;
}
.box4 {
    width: 440px;
    height: 44px0;
    background-color: white;
}
.box5 {
    width: 420px;
    height: 420px;
    background-color: black;
}
.box6 {
    width: 400px;
    height: 400px;
    background-color: white;
}
.box7 {
    width: 380px;
    height: 380px;
    background-color:  black;
}
.box8 {
    width: 360px;
    height: 360px;
    background-color: white;
}
.box9 {
    width: 340px;
    height: 340px;
    background-color: black;
}
.box10 {
    width: 320px;
    height: 320px;
    background-color: white;
}
.box11{
    width: 300px;
    height: 300px;
    background-color: black;
}
.box12 {
    width: 280px;
    height: 280px;
    background-color: white;
}
.box13 {
    width: 260px;
    height: 260px;
    background-color: black;
}
.box14 {

    width: 240px;
    height: 240px;
    background-color: white;
}
.box15 {
     width: 220px;
    height: 220px;
    background-color: black;
}
.box16 {
    width: 200px;
   height: 200px;
   background-color: white;
}
.box17 {
    width: 180px;
   height: 180px;
   background-color: black;
}
.box18 {
    width: 160px;
   height: 160px;
   background-color: white;
}
.box19 {
    width: 140px;
   height: 140px;
   background-color: black;
}
.box20 {
    width: 120px;
   height: 120px;
   background-color: white;
}
.box21 {
    width: 100px;
   height: 100px;
   background-color: black;
}
.box22 {
    width: 80px;
   height: 80px;
   background-color: white;
}
.box23 {
    width: 60px;
   height: 60px;
   background-color: black;
}
.box24 {
    width: 40px;
   height: 40px;
   background-color: white;
}
.box25 {
    width: 20px;
   height: 20px;
   background-color: black;
}
.container
{ 
    height: 100%;
    display: flex;
justify-content: center;
align-items: center;

}